@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
background-color: $light-color;
font-family: $font-stack;
line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: $primary-color;
  color: #fff;
  height: 400px;

  a:hover {
    color: $secondary-color;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style: none;

      li {
        padding: 10px;
        color: #fff;
      }

    }

  }

  a {
    color: #fff;
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    img {
      width: 50%;
    }

    h1 {
      font-size: 20px;
      line-height: 1;
    }

    p {
      margin: 20px 0;
    }
  }

}

.siteblurb {
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 75%;
  padding: 50px;
  font-size: large;
  color: rgb(28, 5, 92);
  height: 300px;
} 

@import 'utilities';
@import 'buttons';
@import 'mobile';

